<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcd.bd.dao.TUserInfoMapper">

    <resultMap id="tUserInfoResultMap" type="com.xcd.bd.entity.TUserInfo">
        <id column="user_id" property="userId" jdbcType="BIGINT"/> 
        <result column="user_name" property="userName" jdbcType="VARCHAR"/> 
        <result column="password" property="password" jdbcType="VARCHAR"/> 
        <result column="address" property="address" jdbcType="VARCHAR"/> 
        <result column="inv_code" property="invCode" jdbcType="VARCHAR"/> 
        <result column="attach_url" property="attachUrl" jdbcType="VARCHAR"/> 
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="recieve_name" property="recieveName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/> 
    </resultMap>


    <select id="get" resultMap="tUserInfoResultMap">
        SELECT *
        FROM T_USER_INFO
        WHERE user_id = #{userId}
    </select>

    <select id="findList" resultMap="tUserInfoResultMap">
        SELECT *
        FROM T_USER_INFO
        <where>
        </where>
    </select>

    <select id="findByUserName" parameterType="java.lang.String" resultMap="tUserInfoResultMap">
        SELECT *
        FROM T_USER_INFO
        where user_name=#{userName,jdbcType=VARCHAR}
    </select>

    <select id="findUserIdByInvCode" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT user_id
        FROM T_USER_INFO
        where inv_code=#{invCode,jdbcType=VARCHAR}
    </select>

    <select id="findAllList" resultMap="tUserInfoResultMap">
        SELECT *
        FROM T_USER_INFO
    </select>

    <insert id="insert" parameterType ="com.xcd.bd.entity.TUserInfo">
        <selectKey keyProperty="userId" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO T_USER_INFO(
            user_id,
            user_name,
            password,
            address,
            inv_code,
            attach_url,
            status,
            create_time,
            update_time
        )
        VALUES (
            #{userId,jdbcType=BIGINT},
            #{userName,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{address,jdbcType=VARCHAR},
            #{invCode,jdbcType=VARCHAR},
            #{attachUrl,jdbcType=VARCHAR},
            #{status,jdbcType=CHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.xcd.bd.entity.TUserInfo">
        INSERT INTO T_USER_INFO(
            user_id,
            user_name,
            password,
            address,
            inv_code,
            attach_url,
            create_time,
            update_time
        )
        VALUES
        <foreach collection ="list" item="tUserInfo" separator =",">
        (
            #{tUserInfo.userId,jdbcType=BIGINT},
            #{tUserInfo.userName,jdbcType=VARCHAR},
            #{tUserInfo.password,jdbcType=VARCHAR},
            #{tUserInfo.address,jdbcType=VARCHAR},
            #{tUserInfo.invCode,jdbcType=VARCHAR},
            #{tUserInfo.attachUrl,jdbcType=VARCHAR},
            #{tUserInfo.createTime,jdbcType=TIMESTAMP},
            #{tUserInfo.updateTime,jdbcType=TIMESTAMP}
        )
        </foreach>
    </insert>

    <update id="update"  parameterType ="com.xcd.bd.entity.TUserInfo">
        UPDATE T_USER_INFO
        <set>
            <if test="password!=null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="address!=null">
                address = #{address,jdbcType=VARCHAR}},
            </if>
            <if test="attachUrl!=null">
                attach_url = #{attachUrl,jdbcType=VARCHAR}},
            </if>
            <if test="phone!=null">
                phone = #{phone,jdbcType=VARCHAR}},
            </if>
            <if test="recieveName!=null">
                recieve_name = #{recieveName,jdbcType=VARCHAR}},
            </if>
            <if test="status!=null">
                status = #{status,jdbcType=CHAR}},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime,jdbcType=TIMESTAMP}},
            </if>
        </set>

        WHERE user_id = #{userId,jdbcType=BIGINT}
    </update>

    <delete id="delete"  parameterType ="com.xcd.bd.entity.TUserInfo">
        DELETE FROM T_USER_INFO
        WHERE user_id = #{userId}
    </delete>

</mapper>