<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcd.bd.dao.TUserInfoMapper">

    <resultMap id="tUserInfoResultMap" type="com.xcd.bd.entity.TUserInfo">
        <id column="user_id" property="userId" jdbcType="BIGINT"/> 
        <result column="user_name" property="userName" jdbcType="VARCHAR"/> 
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="inv_code" property="invCode" jdbcType="VARCHAR"/>
        <result column="attach_url" property="attachUrl" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="reciever_address" property="recieverAddress" jdbcType="VARCHAR"/>
        <result column="reciever_name" property="recieverName" jdbcType="VARCHAR"/>
        <result column="reciever_phone" property="recieverPhone" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="ship_status" property="shipStatus" jdbcType="CHAR"/>
        <result column="user_type" property="userType" jdbcType="CHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/> 
    </resultMap>


    <select id="get" resultMap="tUserInfoResultMap">
        SELECT *
        FROM T_USER_INFO
        WHERE user_id = #{userId}
    </select>

    <select id="findList" resultMap="tUserInfoResultMap">
        SELECT *
        FROM T_USER_INFO
        <where>
        </where>
    </select>

    <select id="findListByStatus" parameterType="java.lang.Character" resultMap="tUserInfoResultMap">
        SELECT *
        FROM T_USER_INFO
        <where>
            <if test="status!=null">
                status = #{status,jdbcType=CHAR}
            </if>
        </where>
    </select>

    <select id="findUserInfoByShipStatus" parameterType="java.lang.Character" resultMap="tUserInfoResultMap">
        SELECT *
        FROM T_USER_INFO
        where ship_status=#{shipStatus,jdbcType=CHAR} and reciever_address is not null and reciever_name is not null and  reciever_phone is not null
    </select>

    <select id="findByUserName" parameterType="java.lang.String" resultMap="tUserInfoResultMap">
        SELECT *
        FROM T_USER_INFO
        where user_name=#{userName,jdbcType=VARCHAR}
    </select>

    <select id="findUserIdByInvCode" parameterType="java.lang.String" resultType="java.lang.Long">
        SELECT user_id
        FROM T_USER_INFO
        where inv_code=#{invCode,jdbcType=VARCHAR}
    </select>

    <select id="findAllList" resultMap="tUserInfoResultMap">
        SELECT *
        FROM T_USER_INFO
    </select>

    <insert id="insert" parameterType ="com.xcd.bd.entity.TUserInfo">
        <selectKey keyProperty="userId" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO T_USER_INFO(
            user_id,
            user_name,
            password,
            reciever_address,
            inv_code,
            attach_url,
            status,
            ship_status,
            user_type,
            create_time,
            update_time
        )
        VALUES (
            #{userId,jdbcType=BIGINT},
            #{userName,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{recieverAddress,jdbcType=VARCHAR},
            #{invCode,jdbcType=VARCHAR},
            #{attachUrl,jdbcType=VARCHAR},
            #{status,jdbcType=CHAR},
            #{shipStatus,jdbcType=CHAR},
            #{userType,jdbcType=CHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.xcd.bd.entity.TUserInfo">
        INSERT INTO T_USER_INFO(
            user_id,
            user_name,
            password,
            reciever_address,
            inv_code,
            attach_url,
            create_time,
            update_time
        )
        VALUES
        <foreach collection ="list" item="item" separator =",">
        (
            #{item.userId,jdbcType=BIGINT},
            #{item.userName,jdbcType=VARCHAR},
            #{item.password,jdbcType=VARCHAR},
            #{item.recieverAddress,jdbcType=VARCHAR},
            #{item.invCode,jdbcType=VARCHAR},
            #{item.attachUrl,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP}
        )
        </foreach>
    </insert>

    <update id="update"  parameterType ="com.xcd.bd.entity.TUserInfo">
        UPDATE T_USER_INFO
        <set>
            <if test="password!=null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="recieverAddress!=null">
                reciever_address = #{recieverAddress,jdbcType=VARCHAR},
            </if>
            <if test="realName!=null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="attachUrl!=null">
                attach_url = #{attachUrl,jdbcType=VARCHAR},
            </if>
            <if test="phone!=null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="recieverName!=null">
                reciever_name = #{recieverName,jdbcType=VARCHAR},
            </if>
            <if test="recieverPhone!=null">
                reciever_phone = #{recieverPhone,jdbcType=VARCHAR},
            </if>
            <if test="status!=null">
                status = #{status,jdbcType=CHAR},
            </if>
            <if test="shipStatus!=null">
                ship_status = #{shipStatus,jdbcType=CHAR},
            </if>
            <if test="userType!=null">
                user_type = #{userType,jdbcType=CHAR},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>

        WHERE user_id = #{userId,jdbcType=BIGINT}
    </update>


    <update id="updateShipStatusBatchByPrimaryKey" parameterType="java.util.Map">
        update T_USER_INFO
        set
        ship_status = #{shipStatus,jdbcType=CHAR},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        where USER_ID in
        <foreach collection="idList" index="index" item="item" separator="," open="(" close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </update>

    <delete id="delete"  parameterType ="com.xcd.bd.entity.TUserInfo">
        DELETE FROM T_USER_INFO
        WHERE user_id = #{userId}
    </delete>

</mapper>